@*@model Database.USER*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/style2.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/img/favicon.ico">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.inputmask.bundle.js"></script>
    <script src="~/js/bootbox.js"></script>
    <script src="~/Scripts/mayki.js"></script>
   
</head>
<body>
    <header style="background:#24855F;">
        <a href="#" id="logo"></a>
        <a href="http://localhost:30471"><img src="~/img/theme-3/30.png" /></a>
        <div class="mob-icon">
            <span></span>
        </div>
        <nav>
            <ul class="reservation-ul">
                <li><a href="/Home/Index" class="scroll-to-link act">Ana Sayfa</a></li>
                <li><a href="/Arama/Index" class="scroll-to-link act">Tesis Arama</a></li>
                <li><a href="/Member/Index" class="scroll-to-link act">Kullanıcı Bilgi</a></li>
                <li><a href="http://localhost:10988/" class="scroll-to-link act">Admin Girişi</a></li>
                <li><a href="/Account/Logout" class="scroll-to-link act">Çıkış Yap</a></li>
                
            </ul>
        </nav>
    </header>
    <div class="container">
        @RenderBody();
    </div>

    <footer class="site-footer">
        <div class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>SportsSide Hakkında</h3>
                        <p>
                            <i class="fa fa-chevron-right" style="margin-right:5px;" aria-hidden="true"></i>SportsSide, online spor tesisi kiralama sistemidir. 
                        </p>
                        <p>
                            <i class="fa fa-chevron-right" style="margin-right:5px;" aria-hidden="true"></i>Rezervasyon yapabilir, yakındaki veya Türkiyenin herhangi bir yerinde sahayı bulabilirsiniz.
                        </p>
                    </div>
                    <div class="col-md-5">
                        <h3>İletişim</h3>
                        <ul class="ulSayfa">
                            <li>
                                <a class="contact-link"><i class="fa fa-map-marker" style="margin-right:5px;"></i> Eski Büyükdere Cad. Yamaç Sk. No: 6/4, 4. Serdivan / Sakarya</a>
                            </li>
                            <li>
                                <a class="contact-link"><i class="fa fa-phone" style="margin-right:5px;"></i> +90 (212) 269 70 87</a>
                            </li>
                            <li>
                                <a class="contact-link"><i class="fa fa-fax" style="margin-right:5px;"></i> +90 (212) 269 16 22</a>
                            </li>
                            <li>
                                <a class="contact-link"><i class="fa fa-envelope" style="margin-right:5px;"></i> info@sportsside.net</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Sayfalar</h3>
                        <ul class="ulSayfa">
                            <li>
                                <a href="/Home/Index"><i class="fa fa-globe" style="margin-right:7px;" aria-hidden="true"></i>Ana Sayfa</a>
                            </li>
                            <li>
                                <a href="/Arama/Index"><i class="fa fa-search" style="margin-right:5px;" aria-hidden="true"></i>Tesis Arama</a>
                            </li>
                            <li>
                                <a href="/Member/Index"><i class="fa fa-user" style="margin-right:8px;" aria-hidden="true"></i>Kullanıcı Bilgi</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
    </footer>
</body>
</html>

@*<script>
    $(document).ready(function () {
        //var x = document.getElementById("demo");
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(showPosition);
        }
        else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    });

    function showPosition(position) {
        var enlem = position.coords.latitude;
        var boylam = position.coords.longitude;
        var url = "/Home/Index";
        var data = { enlem: enlem, boylam: boylam };


        $.post(url, data, function (result) {
            // TODO: do something with the response from the controller action
        });

        //x.innerHTML = "Latitude: " + position.coords.latitude +
        //"<br>Longitude: " + position.coords.longitude;
    }
</script>*@
